{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/Style.css' %}">
    

</head>
<body>
     <!-- /* Header Section */ -->
     {% include "header.html" %}


    

     
    <div class="part2">
        <div>
            <h1> Borrow <span>Your</span>  Favourite <span>Book</span> from<span> Here</span></h1>
        </div>
        <div>
            <img src="{% static 'images/imagee.jpeg' %}" >
        </div>
    </div>
   {% for cat in category %}
  <div class="carousel-container">
    <p id="category-title" class="cat{{ cat.id }}">{{ cat.name }}</p> 
    <button class="arrow left" onclick="scrollleft(this)">&#10094;</button>

    <div class="part3" id="carousel{{ cat.id }}" style="display: flex; flex-direction: row; width: 100%;">
      {% for book in books %}
        {% if book.category.id == cat.id %}
          <div style="padding: 20px;" class="bookhide book{{ book.category.id }}">
            <img src="{{ book.image.url }}">
            <center>
              <a href="{% url 'bookdetails' book.id %}">
                <button>Details</button>
              </a>
            </center>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <button class="arrow right" onclick="scrollRight(this)">&#10095;</button>
  </div>
{% endfor %}



    



     <div class="part4">
        <div class="h2">
            <h2>What goes into the mind, comes out in a life.</h2></div>
        <img src="{% static 'images/original-7548ac6592731055c6337fc063e864811.png' %}" >
        </div>
    </div> 
<script src="{% static 'js/borrow books.js' %}"></script>
<script src="{% static 'js/header.js' %}"></script>

<!-- Footer Section -->
{% include "footer.html" %}

</body>



</html>