{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/Style.css' %}">
    <!-- <script src="addNewBook.js"></script>
    <script src="header.js"></script>
    <script src="somedetails.js"></script> -->


</head>

<body>
 <!-- /* Header Section */ -->
    {% include "header.html" %}

    <div class="bookContainer">
        <div class="bookImageSection">
            <img class="bookImage" src="{% static 'images/Agatha Christie’s Murder on the Orient Express.jpeg' %}" 
                 alt="Book cover">
            <div class="button-group">
                <button class="readSampleBtn">Read Sample</button>
                <button class="buyNowBtn " onclick="borrowBook()"> Borrow</button>
            </div>
        </div>

        <div class="bookDetailsWrapper">
            <div class="bookDetails">
                <ul>
                    <li><span class="label">Title:</span> <span id="bookTitle">Murder on the Orient Express</span></li>
                    <li><span class="label">Author:</span> <span id="bookAuthor">Agatha Christie</span></li>
                    <li><span class="label">Category:</span> <span id="bookcategory">Detective Fiction / Mystery</span></li>
                </ul>

                <div class="bookDescription">
                    <h3 class="descriptionHeading">Description:</h3>
                    <p class="bookDescriptionText">
                        When a snowdrift stops the Orient Express in its tracks, a passenger is found murdered. With multiple suspects and no escape, detective Hercule Poirot must solve the case before the killer strikes again.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", () => {
          const searchResults = JSON.parse(localStorage.getItem("searchResults"));
          
          if (searchResults && searchResults.length > 0) {
            const book = searchResults[0]; // أول نتيجة
      
            document.getElementById("bookTitle").innerText = book.title;
            document.getElementById("bookAuthor").innerText = book.author || "Unknown Author";
            document.getElementById("bookcategory").innerText = book.category || "Unknown Category";
            document.querySelector(".bookDescriptionText").innerText = book.description || "No description available.";
            document.querySelector(".bookImage").src = book.image || "path/to/default-image.jpg";
          }
        });
      </script>
      
    
    
</body>
<script src="{% static 'book-details.js' %}"></script>
<script src="{% static 'js/header.js' %}"></script>
</html>